table{
    border: 1px solid black;
}
table th, table td {
    border: 1px solid black;
    padding: 17px;
}
.buttons {
   display: flex;
  gap: 10px;
  height: 20px;
  align-items: center;
}